
table {

    width: 50%; /* Chiều rộng của bảng */
    border-collapse: collapse; /* Gộp viền của các ô */
    border: 2px solid black;
}

table td {
    text-align: center; /* Căn giữa nội dung của ô */
    padding: 10px; /* Khoảng cách bên trong ô */
    border: 1px solid black;

}
